/* Header.css */

header {
  background-color: #3A3D66;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #ecf0f1;
}

.logo-link {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo-link p {
  margin: 0;
}

.logo-link span {
  color: #3498db;
}

.header-title {
  flex-grow: 1;
  text-align: center;
}

.header-title p {
  margin: 0;
  font-size: 1.2rem;
}

.header-links {
  display: flex;
}

.link {
  text-decoration: none;
  color: #ecf0f1;
  margin-left: 1rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.head-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .logo-link {
    margin-bottom: 1rem;
  }
  .header-title {
      order: -1;
  }

  .header-title p{
    font-size: 18px;
  }

  .header-links {
    /* margin-top: 1rem; */
    display: none;
  }

  .link {
    margin: 0.5rem 0;
  }
}