/* NotFound.css */

.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .not-found-content {
    text-align: center;
  }
  
  .not-found-image {
    max-width: 100%;
    width: 30%;
    height: auto;
    margin-top: 20px;
  }